@media (max-width: 768px) {
  body {
    box-sizing: border-box;
    width: 480px;
    margin-left: 5%;
  }
  footer {
    background-color: blue;
    clear: both;
    height: 80px;
  }
}

@media (min-width: 769px) {
  body {
    box-sizing: border-box;
    width: 960px;
    margin-left: 15%;
  }

  footer {
    background-color: firebrick;
    float: right;
    width: 760px;
    height: 150px;
  }
}
